[Unit]
Description=Workshop Ventilation Core
After=local-fs.target

[Service]
Type=simple
User=pi
Group=pi
SupplementaryGroups=i2c
RuntimeDirectory=workshop-ventilation
RuntimeDirectoryMode=0750
ExecStart=/usr/local/bin/ventilation-core --socket /run/workshop-ventilation/ventilation-core.sock
Restart=always
RestartSec=1
TimeoutStopSec=5
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
