[Unit]
Description=Periodic WVC Zigbee2MQTT state backup check

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=5m
Unit=wvc-zigbee-state-backup.service

[Install]
WantedBy=timers.target
